@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');


* {
    box-sizing: border-box;
}


body {
    margin: 0;
    background: #020b06;
    color: #d9e8dc;
    font-family: "Inter", Arial, sans-serif;
}


.layout {
    display: flex;
    min-height: 100vh;
}


/* Sidebar */

.sidebar {

    width: 250px;

    margin: 25px;

    padding: 25px;

    background: #07180d;

    border: 1px solid #123b20;

    border-radius: 14px;

    height: calc(100vh - 50px);

}


.sidebar h2 {

    color: white;

    margin-top: 0;

}


.sidebar button {

    width: 100%;

    background: transparent;

    border: none;

    text-align: left;

    color: #4da3ff;

    font-size: 17px;

    padding: 12px;

    border-radius: 8px;

    cursor: pointer;

}


.sidebar button:hover {

    background: #10291a;

}



/* Content */

.content {

    padding: 50px;

    max-width: 900px;

}


h1 {

    font-size: 38px;

}


h2 {

    margin-top: 35px;

}


p, li {

    font-size: 17px;

    line-height: 1.7;

}



/* Code */

pre {

    background: #050d08;

    border: 1px solid #123b20;

    padding: 18px;

    border-radius: 10px;

}


code {

    font-family: Consolas, monospace;

    color: #9ee7b2;

}
