@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');


body {
    margin: 0;
    background: #061f12;
    color: #e8f5e9;
    font-family: "Inter", Arial, sans-serif;
}


.layout {
    display: flex;
    min-height: 100vh;
}


/* Sidebar */

.sidebar {

    width: 240px;

    margin: 25px;
    padding: 25px;

    background: #0b2b18;

    border-radius: 14px;

    border: 1px solid #174d2d;

    height: fit-content;

    position: sticky;
    top: 25px;
}


.sidebar h2 {
    margin-top: 0;
    font-size: 22px;
}


.sidebar a {

    display: block;

    color: #55aaff;

    text-decoration: none;

    padding: 12px;

    border-radius: 8px;

    cursor: pointer;

    margin-top: 8px;

}


.sidebar a:hover {

    background: #123d22;

}



/* Content */

.content {

    max-width: 900px;

    padding: 50px;

}


h1 {

    font-size: 38px;

    margin-top: 0;

}


h2 {

    margin-top: 40px;

}


p, li {

    font-size: 17px;

    line-height: 1.7;

}



/* Code */

code {

    background: #102d1d;

    padding: 4px 8px;

    border-radius: 6px;

    font-family: "JetBrains Mono", Consolas, monospace;

}


pre {

    background: #08170e;

    padding: 18px;

    border-radius: 10px;

    border: 1px solid #174d2d;

    overflow-x: auto;

}


pre code {

    background: none;

    padding: 0;

}



/* Pages */

.hidden {

    display: none;

}
